:root {
  --primary: #0b132a;
  --secondary: #4f5665;
  --active-link: #ffffff;
  --accent: #f53838;
  --shadow-primary: #0d1025;
  --shadow-accent: rgba(245, 56, 56, 0.35);

  --page-width: 1140px;
}

/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v28-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v28-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v28-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #4f5665;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: var(--primary);
}

h3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: var(--primary);
}

h5 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: var(--primary);
}

h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--primary);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary);
}

strong {
  font-weight: 700;
}

.page-width-default {
  max-width: var(--page-width);
  margin-inline: auto;
}

.btn {
  padding: 12px 62px;

  border-radius: 90px;
  width: fit-content;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}

.btn-primary {
  background-color: var(--accent);
  color: var(--active-link);
  border: 2px solid var(--accent);
  position: relative;
}

.btn-primary::before {
  content: "";
  position: absolute;
  background: var(--shadow-accent);
  filter: blur(27px);
  border-radius: 10px;
  display: block;
  width: 80%;
  height: 100%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 25px);
  pointer-events: none;
}

.btn-secondary {
  color: var(--accent);
  background-color: var(--active-link);
  border: 2px solid var(--accent);
}

.btn-primary-cta {
  border-radius: 10px;
  padding: 18px 78px;
  min-width: 250px;
  /* height: 60px; */
}

.default__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.default__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.default__text-small {
  font-size: 14px;
}

.header {
  padding-block: 45px;
}

.header__wrapper {
  height: 45px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--page-width);
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 40px;
}

.header__list--auth {
  gap: 30px;
}

.header__item {
  line-height: 19px;
}
.header__item a {
  color: var(--secondary);
}

.header__item--medium {
  font-weight: 500;
}

.header__item--medium a {
  color: var(--primary);
}

.hero {
  padding-block: 45px 50px;
}

.hero__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 40px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero__button {
  margin-top: 30px;
  /* width: 250px; */
  height: 60px;
  background-color: var(--accent);
  color: var(--active-link);
  line-height: 25px;
  border-radius: 10px;
  padding: 18px 78px;
}

.hero__illustration {
  margin-right: -40px;
}

.statistics {
  padding-block: 50px 50px;
  position: relative;
}

.statistics::before {
  content: "";
  position: absolute;
  background: var(--shadow-primary);
  opacity: 0.06;
  filter: blur(57px);
  border-radius: 10px;
  display: block;
  width: 80%;
  height: 190px;
  z-index: 0;
  left: 50%;
  transform: translate(-50%, 52px);
  pointer-events: none;
}

.statistics__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-block: 36px;
  background: white;
  border-radius: 10px;
  z-index: 1;
  position: relative;
}

.statistics__iconbox {
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
  gap: 36px;
  align-content: center;
  border-left: 2px #eeeff2 solid;
  padding-block: 30px;
}

.statistics__iconbox:nth-of-type(1) {
  border-left: 0px;
}

.statistics__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.statistics__title {
  font-size: 25px;
  line-height: 30px;
  color: var(--primary);
}

.statistics__text {
  font-size: 20px;
  line-height: 30px;
  color: var(--secondary);
}

.features {
  padding-block: 50px 125px;
}

.features__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 170px;
}

.features__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.features__icon {
  width: 24px;
  height: 24px;
}

.plans {
  padding-block: 75px 75px;
  width: 1090px;
  margin: 0 auto;
}

.plans__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.plans__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.plans__content h3,
p {
  max-width: 555px;
}

.plans__cardbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

.plans__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 2px solid #dddddd;
  border-radius: 10px;
}

.plans__image-box {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.plans__price-box {
  margin-block: 50px 50px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.active-card {
  border: 2px solid var(--accent);
  border-radius: 10px;
}

.nerwork {
  padding-block: 75px 25px;
  margin: 0 auto;
}

.network__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}

.network__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 555px;
  text-align: center;
  gap: 20px;
}

.network__content h3 {
  max-width: 380px;
}

.network__image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
